div.LoginPage{
    background: rgb(27, 174, 219);
    width:100%;
    height:100%;
    direction: rtl;
    text-align: center;
}
header.Header{
    background: rgb(223, 22, 22);
    height:20%;
}
img.HeaderImg{
    width: 10%;
    height : 10%;
    
}
section.Body{
    background: rgb(178, 240, 65);
    align-self: center;
}
.Form{
    position:relative;
    background: rgb(211, 7, 177); 
    width:50%;
}
