.pagep{
    direction: rtl;
    height: 100%;
    width: 100%;
}

.navbarp{
    background-image: url(../search_screen/search-background.jpg);
    background-size: cover;
    height: 290px;
    width: 100%;
    text-align: center;
    align-content: center;
}

.infoSectionP{
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 80%;
    width: 80%;
    top: 5%;
    right: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

#info{
    position: relative;
    height: 100%;
    width: 50%;
    text-align: start;
    background-color: #d95540;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#h1p{
    font-size: 28px;
    font-weight: bold;
    padding-right: 30px;
}

.info{
    padding-right: 30px;
}

.listP{
    position: relative;
    height: 65%;
    width: 95%;
    overflow: auto; 
}

.boxP{
    background-color: #346c7b;
    height: auto;
    border-radius: 4px;
}

.lip{
    color: bl;
    font-size: 18px;
}

#text{
    margin: 5px;
    padding: 5px;
}

#pics{
    position: relative;
    height: 100%;
    width: 50%;
    background-color: #346c7b;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#image{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.btn1{
    position: relative;
    width: 73%;
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 60px;
    margin-left: 2px;
    padding-top: 8px;
    padding-right: 2px;
    padding-bottom: 8px;
    padding-left: 2px;
    border-radius: 4px;
    border-color: rgb(53, 111, 123);
    background-color: rgb(53, 111, 123);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}