div.LoginPage{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    
    width:100%;
    height:100%;
    direction: rtl;
    text-align: center;
}


header.Header{
    height:30%;
}
img.HeaderImg{
    width: 100%;
    height :100%;
}


.Body{
    position: relative;
    text-align: center;
    height:50%;
}

div.Form{
    position: absolute;
    background: rgba(119, 117, 119, 0.877); 
    height:100%;
    width:30%;
    right:35%;
}


h1{
    color:rgb(255, 255, 255)
}