.page{
    direction: rtl;
    height: 100%;
    width: 100%;
}

.navbarr{
    background-image: url(../search_screen/search-background.jpg);
    background-size: cover;
    height: 40%;
    width: auto;
    text-align: center;
    align-content: center;
}

.boxr{
    position: absolute;
    width: 30%;
    right: 35%;
    top: 26%;
    background-color: #d95540;
    border-radius: 4px;
}

.sectionr{
    text-align: center;
    align-content: center;
    align-items: center;
    //background-image: url(../search_screen/section-background.jpg);
    background-size: cover;
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
}

#h2r{
    color: whitesmoke;
    margin-bottom: 5px;
}

.inputr{
    position: relative;
    width: 70%;
    margin-top: 5px;
    margin-right: 2px;
    // margin-bottom: 15px;
    margin-left: 2px;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-left: 2px;
    border-radius: 4px;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 24px;
}

.inputr:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }

.btnr{
    position: relative;
    width: 73%;
    margin-top: 15px;
    margin-right: 2px;
    // margin-bottom: 15px;
    margin-left: 2px;
    padding-top: 8px;
    padding-right: 2px;
    padding-bottom: 8px;
    padding-left: 2px;
    border-radius: 4px;
    border-color: rgb(53, 111, 123);
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    background-color: rgb(53, 111, 123);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#loginbtnr{
    margin-bottom: 35px;
}